In [4]:
from openalgo import api
import pandas as pd
import time

# Initialize the API client
client = api(
    api_key="8507608caf72988c1f48686653ea746ec147364a470fb5ebf9325f95632cdd72",
    host="http://127.0.0.1:5000"
)

In [3]:
import openalgo

print(f"OpenAlgo version: {openalgo.__version__}")

OpenAlgo version: 1.0.4

In [3]:
client.placeorder(
    symbol="RELIANCE",
    action="BUY",
    exchange="NSE",
    price_type="MARKET",
    product="MIS",
    quantity=1
)

{'orderid': '24120700005370', 'status': 'success'}

In [4]:
client.placesmartorder(
    symbol="TATAMOTORS",
    action="SELL",
    exchange="NSE",
    price_type="MARKET",
    product="MIS",
    quantity=1,
    position_size=5
)

{'mode': 'analyze', 'orderid': '24120800004', 'status': 'success'}

In [5]:
client.cancelorder(order_id="12345678")

{'mode': 'analyze', 'orderid': '12345678', 'status': 'success'}

In [6]:
client.cancelallorder(strategy="Python")

{'canceled_orders': [],
 'failed_cancellations': [],
 'message': 'All open orders will be cancelled',
 'mode': 'analyze',
 'status': 'success'}

In [7]:
client.closeposition(strategy="Python")

{'message': 'All Open Positions will be Squared Off',
 'mode': 'analyze',
 'status': 'success'}

In [8]:
client.modifyorder(order_id="12345678",symbol="INFY",action="SELL",exchange="NSE",price_type="LIMIT",product="CNC",quantity=2,price="1500.00",disclosed_quantity="0",trigger_price="0")

{'mode': 'analyze', 'orderid': '12345678', 'status': 'success'}

In [22]:
response = client.quotes(symbol="RELIANCE", exchange="NSE")
response

{'data': {'ask': 1311.55,
  'bid': 0,
  'high': 1323.9,
  'low': 1310,
  'ltp': 1311.55,
  'open': 1323.9,
  'prev_close': 1311.55,
  'volume': 9037514},
 'status': 'success'}

In [24]:
response = client.depth(symbol="SBIN", exchange="NSE")
response

{'data': {'asks': [{'price': 863.65, 'quantity': 2226},
   {'price': 0, 'quantity': 0},
   {'price': 0, 'quantity': 0},
   {'price': 0, 'quantity': 0},
   {'price': 0, 'quantity': 0}],
  'bids': [{'price': 0, 'quantity': 0},
   {'price': 0, 'quantity': 0},
   {'price': 0, 'quantity': 0},
   {'price': 0, 'quantity': 0},
   {'price': 0, 'quantity': 0}],
  'high': 875.45,
  'low': 857,
  'ltp': 863.65,
  'ltq': 1,
  'oi': 0,
  'open': 865.25,
  'prev_close': 863.65,
  'totalbuyqty': 0,
  'totalsellqty': 2226,
  'volume': 14520568},
 'status': 'success'}

In [6]:
client.history(symbol="SBIN", 
    exchange="NSE", 
    interval="5m", 
    start_date="2024-12-17", 
    end_date="2024-12-31"
    )

                            close    high     low    open  volume
timestamp
2024-12-17 09:15:00+05:30  862.00  862.60  858.35  858.55  197536
2024-12-17 09:20:00+05:30  860.95  862.00  860.10  861.70   92286
2024-12-17 09:25:00+05:30  860.75  862.00  860.65  860.95   82038
2024-12-17 09:30:00+05:30  861.00  861.90  860.10  860.75   77185
2024-12-17 09:35:00+05:30  859.95  860.95  859.55  860.25   72397
...                           ...     ...     ...     ...     ...
2024-12-17 15:05:00+05:30  851.25  851.80  850.20  850.65  245731
2024-12-17 15:10:00+05:30  849.65  851.25  849.55  851.25  281770
2024-12-17 15:15:00+05:30  850.70  850.95  849.75  849.85  420610
2024-12-17 15:20:00+05:30  849.80  851.30  849.75  850.70  297845
2024-12-17 15:25:00+05:30  849.80  850.70  848.85  850.00  193961

[75 rows x 5 columns]

In [5]:
response = client.interval()
response

{'status': 'success',
 'data': {'seconds': ['5s', '10s', '15s', '30s', '45s'],
  'minutes': ['1m', '2m', '3m', '5m', '10m', '15m', '20m', '30m'],
  'hours': ['1h', '2h', '4h'],
  'days': ['D'],
  'weeks': ['W'],
  'months': ['M']}}